$container-width: 1685px;
$container: 1180px;
$logo-size: 2.2rem;
$font-oneday: "ONEDAY", Arial, Serif;
$nav-color: #d2d3d7;
$nav-background: rgba(70, 73, 78, 0.89);
$color-span: #ef4e30;
$font-abadi-light: "AbadiMTLight", Arial, Serif;
$font-abadi-bold: "AbadiMTBold", Arial, Serif;


/***** Footer *****/
$background-footer: #e2e2e2;
